<ngx-main-layout>
    <nb-menu [items]="menu"></nb-menu>

    <router-outlet>
    <div id="cardsHolder" class="cardHolderStyle">
      <div class="row">
          <div id="1" class="column">
            <div class="card">
    <nb-card>
    <nb-card-header>Mariam Salama</nb-card-header>
    <nb-card-body><img src="assets/images/Mariam.JPG" class="cardImage"/></nb-card-body>
    <nb-card-footer>I like to read</nb-card-footer>
    </nb-card>
  </div>
  <div class="card">
    <nb-card>
    <nb-card-header>Habiba ElHussein</nb-card-header>
    <nb-card-body><img src="assets/images/Habiba ElHussein.jpg" class="cardImage"/></nb-card-body>
    <nb-card-footer>I love cooking, especially desserts</nb-card-footer>
    </nb-card>
  </div>
    <div class="card">
    <nb-card>
    <nb-card-header>Mayar Lotfy</nb-card-header>
    <nb-card-body><img src="assets/images/MayarLotfy.jpg" class="cardImage"/></nb-card-body>
    <nb-card-footer>I'm a passionate Archery player</nb-card-footer>
    </nb-card>
  </div>
    </div>
    <div id="2" class="column">
      <div class="card">
<nb-card>
<nb-card-header>Tarek Abdelrahman</nb-card-header>
<nb-card-body><img src="assets/images/IMG_0532.JPG" class="cardImage"/></nb-card-body>
<nb-card-footer>Football is my passion</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Mohamed Hesham</nb-card-header>
<nb-card-body><img src="assets/images/mohamed_hesham.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love drawing and art in general</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Hesham Morgan</nb-card-header>
<nb-card-body><img src="assets/images/morgan.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love Tec</nb-card-footer>
</nb-card>
</div>
</div>
<div id="3" class="column">
  <div class="card">
<nb-card>
<nb-card-header>Omar Shaker</nb-card-header>
<nb-card-body><img src="assets/images/OmarShaker.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love coding</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Sarah Gamal</nb-card-header>
<nb-card-body><img src="assets/images/SarahGamal.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>Languages, impressionism and symbols</nb-card-footer>
</nb-card>
</div>
</div>
</div>
  </div>
    </router-outlet>
  </ngx-main-layout>
