<ngx-main-layout>
    <nb-menu [items]="menu"></nb-menu>

    <router-outlet>
    <div id="cardsHolder" class="cardHolderStyle">
      <div class="row">
          <div id="1" class="column">
            <div class="card">
    <nb-card>
    <nb-card-header>Mariam Salama</nb-card-header>
    <nb-card-body><img src="assets/images/Mariam.JPG" class="cardImage"/></nb-card-body>
    <nb-card-footer>I like to read</nb-card-footer>
    </nb-card>
  </div>
  <div class="card">
    <nb-card>
    <nb-card-header>Habiba ElHussein</nb-card-header>
    <nb-card-body><img src="assets/images/Habiba ElHussein.jpg" class="cardImage"/></nb-card-body>
    <nb-card-footer>I love cooking, especially desserts</nb-card-footer>
    </nb-card>
  </div>
    <div class="card">
    <nb-card>
    <nb-card-header>Mayar Lotfy</nb-card-header>
    <nb-card-body><img src="assets/images/MayarLotfy.jpg" class="cardImage"/></nb-card-body>
    <nb-card-footer>I'm a passionate Archery player</nb-card-footer>
    </nb-card>
  </div>
    </div>
    <div id="2" class="column">
      <div class="card">
        <nb-card>
          <nb-card-header>Tarek Abdelrahman</nb-card-header>
          <nb-card-body><img src="assets/images/Tarek.JPG" class="cardImage"/></nb-card-body>
          <nb-card-footer>Football is my passion</nb-card-footer>
        </nb-card>
      </div>
      <div class="card">
        <nb-card>
          <nb-card-header>Ahmed Ashraf</nb-card-header>
          <nb-card-body><img src="assets/images/ahmed ashraf.jpg" class="cardImage"/></nb-card-body>
          <nb-card-footer>I love football</nb-card-footer>
        </nb-card>
      </div>
      <div class="card">
        <nb-card>
          <nb-card-header>Ahmed Ayman</nb-card-header>
          <nb-card-body><img src="assets/images/Ahmed ayman.jpg" class="cardImage"/></nb-card-body>
          <nb-card-footer>I love Basket Ball</nb-card-footer>
        </nb-card>
      </div>
      <div class="card">
        <nb-card>
          <nb-card-header>Aya</nb-card-header>
          <nb-card-body><img src="assets/images/aya2.jpg" class="cardImage"/></nb-card-body>
          <nb-card-footer> </nb-card-footer>
        </nb-card>
      </div>
  <div class="card">
    <nb-card>
      <nb-card-header>Mohamed Adel</nb-card-header>
      <nb-card-body><img src="assets/images/Mohamed Adel.JPG" class="cardImage"/></nb-card-body>
      <nb-card-footer>I am a programmer, a creature  who turns coffe into working code </nb-card-footer>
    </nb-card>
  </div>
  <div class="card">
<nb-card>
<nb-card-header>Mohamed Hesham</nb-card-header>
<nb-card-body><img src="assets/images/mohamed_hesham.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love drawing and art in general</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Hesham Morgan</nb-card-header>
<nb-card-body><img src="assets/images/morgan.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love Tec</nb-card-footer>
</nb-card>
</div>
</div>
<div id="3" class="column">
  <div class="card">
<nb-card>
<nb-card-header>Youhanna Adel</nb-card-header>
<nb-card-body><img src="assets/images/youhanna adel.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love SE</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Salma Zaki</nb-card-header>
<nb-card-body><img src="assets/images/salma zaki.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer></nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Nada</nb-card-header>
<nb-card-body><img src="assets/images/nada.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer></nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Mahmoud Gamal</nb-card-header>
<nb-card-body><img src="assets/images/MahmoudGamal.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love Chess</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Omar Shaker</nb-card-header>
<nb-card-body><img src="assets/images/OmarShaker.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>I love coding</nb-card-footer>
</nb-card>
</div>
  <div class="card">
<nb-card>
<nb-card-header>Sarah Gamal</nb-card-header>
<nb-card-body><img src="assets/images/SarahGamal.jpg" class="cardImage"/></nb-card-body>
<nb-card-footer>Languages, impressionism and symbols</nb-card-footer>
</nb-card>
</div>
</div>
</div>
  </div>
    </router-outlet>
  </ngx-main-layout>
