<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <a href="http://localhost:4200/#/pages/dashboard" ><img src="assets/images/pic.jpeg" href="#" height="42" width="42" alt="logo" /></a>
    <a href="http://localhost:4200/#/pages/dashboard" ><div class="logo">Software Engineering T-<span>16</span></div></a>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action *nbIsGranted="['view', 'user']" >
    <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="'assets/images/kitten-cosmic.png'"></nb-user>
    <button id ="t1" style="color:white;font-size:150%;background: transparent;
    border: none !important; " ></button> 
  </nb-action>
  <nb-action class="control-item">
    <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
      <button class="btn"(click)="logout()">Logout</button>
  </nb-action>
</nb-actions>
