<nb-layout-column class="main-content">
    <div class="login-page">
        <div class="internalBox">
        <div class="form" id="InputDiv">
        <h1 class="md-display-2">WELCOME BACK</h1>
        <form class="login-form">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>

        </div>
    </div>
    </div>
      <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>
