<nb-layout-column class="main-content">
    <div class="signup-page">
        <div class="internalBox">
        <div class="form" id="InputDiv">
        <h1 class="md-display-2">CREATE AN ACCOUNT</h1>
      <form >
          <input type="text" placeholder="name" required/>
          <input type="text" placeholder="username" required/>
          <input   type="password" id="password" name="password" placeholder="Password" required/>
          <input  type="password" id="confirm_password" name="password" placeholder="Re-type password" required/>
          <input type="text" placeholder="email address"/>
          <button>Register</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        </div>
    </div>
    </div>
      <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>
    
    <script>
        var password = document.getElementById("password")
          , confirm_password = document.getElementById("confirm_password");
        
        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Password Doesn't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
        }
        
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
        </script>
        