<nb-layout windowMode>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>


  <nb-layout-column class="main-content">
  <div class="signup-page">
  <div class="form">
    <form class="signup-form">
        <input type="text" placeholder="username"/>
        <input type="email" placeholder="email address"/>
        <input type="password" placeholder="password"/>
        <input type="password" placeholder="confirm password"/>
        <button>create</button>
        <p class="message">Do you have an account? <a href="#">Sign In</a></p>
      </form>

    </div>
  </div>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>


  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
